/*shared*/
body{
    font-family: Verdana, Helvetica, Arial;
    font-size:100%;
    line-height: 150%;
    padding:0;
    margin:0;
    background-color:#CCDCFF;
    height:100%;
}


aside{
    width:25%;
    height:100%;
    float:left;   
    line-height:200%;
    position: fixed;
    background-color: #3273FF;
}

aside li{
    line-height:10px;
}

aside nav ul li.current a{
    color:rgb(95, 59, 9);
}

aside a:hover{
    font-weight:900;
    text-decoration: underline;

}
aside a{
    color:#FFBE32;
    text-decoration: none;
    line-height:250%;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    font-size:21px;
    padding:1%;
    
}

figure.profile-picture{
    margin:5%;
}

figure.profile-picture img{
    width: 200px;
    box-shadow:0 3px 12px #3f3d3d, 0 3px 12px #3f3d3d;

}

section{
    float:right;
    width:75%;
    height:100%;
    padding-top:5%;
    padding-bottom:1.5%;
    background:#f4f4f4;
}

section figure{
    display:none;
}

section div.info-box{
    background:#ffffff;
}

ul{
    list-style-type: none;
    padding-left:0px;
    
}

a.name{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    font-size: 200%;
    padding-top:3.7%;
    padding-left:0%;
    padding-right:67%;
    padding-bottom:9.5%;

}

p.description{
    color:#000000;
    font-weight:350;
    font-size:16px;
    padding-left: 10%;
    padding-right:20%;
}

section li{
    padding-top:4%;
    padding-bottom:2%;
    margin: 2.5%;
    
    
}

footer{
    float:right;
    color:#000000;
    width:100%;
    padding-top:1%;
    background-color:#CCDCFF;
    font-weight:bold;
    text-align:center;
    
}

footer p{
   padding:.5%;
   float:right;
}

div#work-info{
    margin:0% 4% 0% 4%;
    padding:2.5% 0% 0% 0%;
}

h3.time{
    display:inline;
    font-weight:400;
    padding-left:50%;
}
/* Index */
div#hello{
    margin:5%;
    font-size:300%;
}

div#hello h1{
    font-weight:500;
}
div#intro{
    margin:5% 5% 3% 5%;
    line-height: 200%;
}

/* work */

h3.work-position{
    display:inline;
    padding-left:10%;
    font-weight:300;
}

div#work-info{
    margin:0% 4% 0% 4%;
    padding:2.5% 0% 0% 0%;
}


/* projects */
section div#operation-denenberg-info{
    margin:0% 4% 0% 4%;
    padding:2.5% 0% 19% 0%;
}

section div#project-alexa-info{
    margin:0% 4% 0% 4%;
    padding:2.5% 0% 8.7% 0%;
}

section div#game-info{
    margin:0% 4% 0% 4%;
    padding:8.8% 0% 19% 0%;
}
section#projects li{
    box-shadow:0 3px 6px #5f5c5c, 0 3px 6px #5f5c5c;
    background:#ffffff;
}

section#projects li:hover{
    background: #00000010
}


section#projects nav{
    background:#f4f4f4;
}

/*contact*/

section#contact{
    padding-bottom:30%;
}

p#voicemail{
    padding-left:5%;
}
/* responsive (hopefully) */
.topnav .icon {
    display: none;
}

/*media queries */

@media screen and (max-width: 850px) {
    .topnav a{
        display: none;
    }
    
    .topnav a.icon {
      float: left;
      display: block;
      padding:none;
      margin: 0% 0% 0% 5%;
      
    }

    aside img{
        display:none;
    }

    .topnav{
        width:10%;
        height:100%;
    }

    .topnav.responsive nav ul{
        text-align:center;
        padding-left:0%;
    }
  }

  @media screen and (max-width: 850px) {
    
    section figure{
        display:initial;
    }
    section{
        position:relative;
    }
    .topnav.responsive {
        position:fixed;
        width:30%;
        height:100%;
        
    }

    .topnav.responsive nav ul{
        text-align:center;
        padding-left:0%;
    }

    .topnav.responsive nav ul li {
        display:inline-block;
    }
    .topnav.responsive a.icon {
      position:absolute;
      display:inline;
      right: 0;
      top: 0;
                      
    }

    .topnav.responsive a {
      display:inline;
      text-align: left;
      font-size:110%;
    }
  }